<p style="color: green"><%= notice %></p>

<h1>Activities</h1>

<div id="activities">
  <% @activities.each do |activity| %>
    <div class="mb-4">
      <%= render(CardComponent.new(title: 'Activity', sub_title: activity.name)) do %>
        <p>Hello, World!</p>
        <%= link_to 'Show this activity', activity, class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New activity", new_activity_path %>
